<html>
   <head>
      <title>FaceBook</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>  
   </head>
   <body>
<div ng-app="aboutApp" ng-controller="aboutController" style="background-color:#dfe3ee">     
	<div style="background-color:#3b5998">
		<h1 style="line-height: 2;"><center><font color="white">Facebook</font></center></h1>
	</div>
	<br><br>
		<div class="container">
		    <ul class="nav nav-pills nav-justified">
		    <li><a href="HomePage">Timeline</a></li>
		    <li><a href="Profiles">{{firstname}} <span>{{lastname}}</span></a></li>
		    <li class="active"><a data-toggle="tab" href="#about" >About</a></li>
		    <li><a href="Friends">Friends</a></li>
		    <li><a href="Groups">Groups</a></li>
		    <li><a href="logout">Log Out</a></li>
		  </ul>
		  
		   
		  <div class="tab-content">
		    <div id="about" class="tab-pane fade in active">
		      <br><br>
		      
		
			<div class="col-sm-6">
		         
		            <form class="afterSignIn">
		               <!-- This panel is for login -->
		               <div class="panel panel-primary">
		                  <!-- Default panel contents -->
		                  <div class="panel-heading">About Me</div>
		                  <div class="panel-body">
		            <form class="form-horizontal" role="form">
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-3 control-label pull-left">Description</label>
		            <div class="col-sm-9" style="float: right;">
		            <input type="text" class="form-control " name="desc" id="desc" ng-model="desc" readonly="true" placeholder="Tell us know more about you">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-3 control-label pull-left">Education</label>
		            <div class="col-sm-9" style="float: right;">
		            <input type="text" class="form-control" name="edu" id="edu" ng-model="edu" readonly="true" placeholder="Let us know more about your education">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-3 control-label pull-left">Work Experience</label>
		            <div class="col-sm-9" style="float: right;">
		            <input type="text" class="form-control " name="workex" id="workex" ng-model="workex" readonly="true" placeholder="Let us know more about your work experience">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-3 control-label pull-left">Contact Info </label>
		            <div class="col-sm-9" style="float: right;">
		            <input type="text" class="form-control " name="contact" id="contact" ng-model="contact" readonly="true" placeholder="Give your contact number">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-3 control-label pull-left">Life Events</label>
		            <div class="col-sm-9" style="float: right;">
		            <input type="text" class="form-control " name="lifeevents" id="lifeevents" ng-model="lifeevents" readonly="true" placeholder="Let us know your life events"><br>
		            </div>
		            </div>
		            <div class="form-group ">
		            <br><br>
		            <div class="pull-left signIn">
		            <button type="reset" class="btn btn-primary">Reset</button>
		            </div>
		            <div class="pull-left signIn">
		            &nbsp;&nbsp; <button type="submit" class="btn btn-primary" ng-click = "edit()">Edit</button>
		            </div>
		            <div class="pull-left signIn">
		            &nbsp;&nbsp; <button type="submit" class="btn btn-primary" ng-click = "submitAboutMe()">Save</button>
		            </div>
		            </div>
		            </form>
		            </div>
		            </div>
		         </form>
		         <br><br><br><br><br><br>
		      </div>
		      
		      <div class="col-sm-6">
		         
		            <form class="afterSignIn">
		               <!-- This panel is for login -->
		               <div class="panel panel-primary">
		                  <!-- Default panel contents -->
		                  <div class="panel-heading">My Interests</div>
		                  <div class="panel-body">
		            <form class="form-horizontal" role="form">
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-2 control-label pull-left">Sports</label>
		            <div class="col-sm-10" style="float: right;">
		            <input type="text" class="form-control " name="desc" id="desc" ng-model="sports" readonly="true" placeholder="Which sports teams do you like ?">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-2 control-label pull-left">Music</label>
		            <div class="col-sm-10" style="float: right;">
		            <input type="text" class="form-control" name="edu" id="edu" ng-model="music" readonly="true" placeholder="Who are your favorite Musicians ?">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-2 control-label pull-left">TV Shows</label>
		            <div class="col-sm-10" style="float: right;">
		            <input type="text" class="form-control " name="workex" id="workex" ng-model="tvshows" readonly="true" placeholder="What are your favorite TV shows ?">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-2 control-label pull-left">Movies</label>
		            <div class="col-sm-10" style="float: right;">
		            <input type="text" class="form-control " name="contact" id="contact" ng-model="movies" readonly="true" placeholder="What are your favorite Movies ?">
		            </div>
		            </div>
		            <div class="form-group  usernameDiv">
		            <label class="inputUsername" class="col-sm-2 control-label pull-left">Books</label>
		            <div class="col-sm-10" style="float: right;">
		            <input type="text" class="form-control " name="lifeevents" id="lifeevents" ng-model="books" readonly="true" placeholder="What are your favorite Books ?"><br>
		            </div>
		            </div>
		            <div class="form-group ">
		            <br><br>
		            <div class="pull-left signIn">
		            <button type="reset" class="btn btn-primary">Reset</button>
		            </div>
		            <div class="pull-left signIn">
		            &nbsp;&nbsp; <button type="submit" class="btn btn-primary" ng-click = "edit()">Edit</button>
		            </div>
		            <div class="pull-left signIn">
		            &nbsp;&nbsp; <button type="submit" class="btn btn-primary" ng-click = "submitAboutMe()">Save</button>
		            </div>
		            </div>
		            </form>
		            </div>
		            </div>
		         </form>
		         <br><br><br><br><br><br>
		      </div>
      	   </div>
		</div>
	 </div>
  </div>
  <script>

		var aboutapp = angular.module('aboutApp', []);
        aboutapp.controller('aboutController', function($scope,$http) {
         	
	         	getMe();         	
		         	function getMe(){
		         		$http.post('/afterGetMe').
		         			then(function(response) {
		         	             $scope.me = response.data;
		         	             
		         	             $scope.firstname = $scope.me.firstname;
		         	             $scope.lastname = $scope.me.lastname;
		         	             
		         	          },function(response){
		         	          
		         	    	  });
		         	};
         	
			     $scope.submitAboutMe= function(){
					var req =	$http({ method: "post", url:"/afterSubmitAboutMe", data: {desc:$scope.desc, edu:$scope.edu, workex:$scope.workex, lifeevents:$scope.lifeevents, contact:$scope.contact, music:$scope.music, tvshows:$scope.tvshows, movies:$scope.movies, sports:$scope.sports, books:$scope.books}});
			    	req.success(
			    	function(response){
			    	});
			    };
			       	
				getAboutMe();
				function getAboutMe (){
					 $http.post('/afterGetAboutMe').
						then(function(response) {
				                 $scope.getabout = response.data;
				                
				                 $scope.desc = $scope.getabout.description;
				                 $scope.edu = $scope.getabout.education;
				                 $scope.workex = $scope.getabout.workexperience;
				                 $scope.contact = $scope.getabout.contact;
				                 $scope.lifeevents = $scope.getabout.lifeevents;
				                 $scope.movies = $scope.getabout.movies;
				                 $scope.music = $scope.getabout.music;
				                 $scope.tvshows = $scope.getabout.tvshows;
				                 $scope.sports = $scope.getabout.sports;
				                 $scope.books = $scope.getabout.books;
				                 	             
				          },function(response){
				    	  });
					};
				
				$scope.edit = function(){
					$('input').attr('readonly',false);
				}			
	});
</script>
</body>
</html>